/* 
    Site:   codemelon2012
    Document   : logo
    Created on : Aug 26, 2012
    Author     : marshallfarrier
    Description:
        content styling for codemelon2012
*/
#content {
    position:relative;
    z-index:0;
    background-color:#fff;
    color:#000;
    border: 1px solid #7f7f7f;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #7f7f7f;
    font-size: 14px;
    padding:1.5em 3em;
}

#content-wrapper {
    margin-top:160px;
}

#content .wrapper {
    padding-top:16px;
}

#content h1 {
    font-size:36px;
}
#content h2 {
    font-size:24px;
    text-align:center;
    letter-spacing: 2px;
}
#content h3 {
    font-size:18px;
    letter-spacing: 1px;
    background-color:#f2f2f2;
    border-top:1px solid #dfdfdf;
    border-bottom:1px solid #dfdfdf;
    color:#a7a7a7;
    font-family:'Cantata One', serif;
    font-weight:700;
    text-align: center;
    width:100%;
}
#content h1,#content h2 {
    font-family:'FrutigerNeueW01-Regular',Helvetica,Arial,sans-serif;
    font-weight:800;
}
#content p,#content a,#content li, #content dd {
    font-family:'Frutiger Neue W01 Book',Helvetica,Arial,sans-serif;
    /* Univers is also a good option but requires a paid subscription */
}
#content h1,#content h2,#content h3,#content h4,#content h5 {
    line-height:1.5em;
}
#content h1,#content h2 {
    margin-bottom:0.5em;
}
#content div.date {
    font-size:12px;
    font-family:'FrutigerNeueW01-Regular',Helvetica,Arial,sans-serif;
    color:#bbb;
    line-height:1.5em;
    margin-bottom: 0.5em;
}