/* 
    Document   : styles/footer.css
    Created on : 9/16/2012
    Author     : Marshall Farrier
    Description:
        footer styles for codeMelon2012
*/
#footer {
    height:128px;
}
#footer .wrapper {
    font-family:'Frutiger Neue W01 Book',Helvetica,Arial,sans-serif;
    font-size:12px;
    margin:32px;
}
#footer p {
    color:#9f9f9f;
}
#footer a {
    text-decoration: none;
    color:#f8a122;
}
#footer a:hover {
    text-decoration: underline;
}