/* 
    Site: codemelon2012
    Document: styles/main-content.css
    Date: 9/21/2012
    Author: Marshall Farrier
    Description:
        styling for the main content section
*/

#main-content h5 {
    font-size:12px;
    font-family:'FrutigerNeueW01-Regular',Helvetica,Arial,sans-serif;
    font-weight:bold;
    color:#7f7f7f;
}
#main-content h1,#main-content h2,#main-content h3,#main-content h4,#main-content h5 {
    margin-top:16px;
}
#main-content h1,h2,h3 {
    font-weight: 800;
}
#main-content h4 {
    font-size:16px;
}
#main-content p,#main-content a,#main-content li {
    font-family:'Frutiger Neue W01 Book',Helvetica,Arial,sans-serif;
    /* Univers is also a good option but requires a paid subscription */
}
#main-content p,#main-content li {
    font-size:12px;
    line-height:2em;
}
#main-content p+p {
    margin-top:1.0em;
}
#main-content a {    
    color:#17d;
}
#main-content h4 a {
    text-decoration: none;
}

#main-content section {
    display: inline-block;
    width:100%;
}

#main-content li {
    margin-left: 16px;
}

#main-content ul {
    list-style-type: square;
}
#main-content div.image-wrapper {
    float:right;
    margin:16px;
}
#main-content div.image-wrapper.big img {
}