<!--
@file templates/article-nav.html
@author Marshall Farrier
@created 10/22/2012
@edited 10/22/2012
@description html for article navigation box for codemelon2012
@other 
-->
<div id="article-nav">
    <div class="outer-width-limiter wide-columns">
        <ul>
            <li><a href="articles.php?animate=0&article=20121023">Website Hosting in the Cloud</a> <span class="date">
                10-23-2012</span>
            </li>
            <li><a href="articles.php?animate=0&article=20121007">Clouds</a> <span class="date">
                10-07-2012</span>
            </li>
            <li><a href="articles.php?animate=0&article=20110209">Android: OnClickListener for RadioGroup</a> 
                <span class="date">02-09-2011</span>
            </li>
            <li><a href="articles.php?animate=0&article=20110206">Java Graph Library</a> 
                <span class="date">02-06-2011</span>
            </li>
            <li><a href="articles.php?animate=0&article=20110205">Android: Creating a custom view</a> 
                <span class="date">02-05-2011</span>
            </li>
            <li><a href="articles.php?animate=0&article=20100220">Advanced Color Calculator</a> 
                <span class="date">02-20-2010</span>
            </li>
            <li><a href="articles.php?animate=0&article=20100212">Simple Formulas for Tints and Shades</a> 
                <span class="date">02-12-2010</span>
            </li>
            <li><a href="articles.php?animate=0&article=20091102">Legs vs. Wheels</a> 
                <span class="date">11-02-2009</span>
            </li>
            <li><a href="articles.php?animate=0&article=20090805">Menus with JavaScript</a> 
                <span class="date">08-05-2009</span>
            </li>
        </ul>
    </div>
</div>