<!--
    file:   templates/content-sidebar.html
    author: Marshall Farrier
    date:   09/21/2012
    description:
            navigation sidebar within content section for codeMelon2012
-->
<div class="wrapper">
    <div id="content-sidebar">
        <div class="container">
            <h4 class="channels">Channels</h4>
            <ul>
                <li class="apps"><a href="#">Apps</a></li>
                <li class="programming"><a href="#">Programming</a></li>
                <li class="robotics"><a href="#">Robotics</a></li>
                <li class="site"><a href="#">Site</a></li>
                <li class="tutorials"><a href="#">Tutorials</a></li>
                <li class="web"><a href="#">Web</a></li>
            </ul>
        </div>
    </div>