<!--
    file:   templates/content-sidebar.html
    author: Marshall Farrier
    date:   09/21/2012
    description:
            navigation sidebar within content section for codeMelon2012
-->
<div class="wrapper">
    <div id="content-sidebar">
        <h4>Channels</h4>
        <ul>
            <li><a href="#">Apps</a></li>
            <li><a href="#">Programming</a></li>
            <li><a href="#">Robotics</a></li>
            <li><a href="#">Tutorials</a></li>
            <li><a href="#">Web</a></li>
        </ul>
    </div>