<!--
    file:   templates/footer.html
    author: Marshall Farrier
    date:   08/24/2012
    description:
            footer template for codemelon2012
-->
        <div id="footer">
            <div class="outer-width-limiter">
                <div class="wrapper">
                    <p>Copyright 2012 Marshall Farrier. All rights reserved.
                        <a href=<?php navigation_home($page); ?>>Home</a>/<a 
                            href=<?php navigation_documentation($page); ?>>Documentation</a>/<a 
                            href=<?php navigation_sourceCode($page); ?>>Code</a>/<a 
                            href=<?php navigation_links($page); ?>>Links</a>/<a 
                            href=<?php navigation_terms($page); ?>>Terms of Service</a>/<a 
                            href=<?php navigation_about($page); ?>>About</a>
                    </p>
                </div>
            </div>
        </div>
        <script type="text/javascript">
            // This tracking is for http://www.codemelon.com only.
            var _opt = _opt || [];
            _opt.push([ 'view', '80STMQCQ' ]);
            (function() {
              var scr = document.createElement('script'); scr.type = 'text/javascript'; scr.async = true;
              scr.src = '//service.optify.net/opt-v2.js';
              var other = document.getElementsByTagName('script')[0]; other.parentNode.insertBefore(scr, other);
            })();
        </script> 
    </body>
</html>
