<!--
    file:   templates/header.html
    author: Marshall Farrier
    date:   08/31/2012
    description:
            header for codemelon2012
            placement between logo and content-sidebar
-->
<!--

-->
<div id="content-wrapper" class="outer-width-limiter">   
    <div id="content"> 
        <div id="header">
            <table>
                <tr>
                    <td>
                        <div class="outer">
                            <div class="image-wrapper">
                                <img width="240" height="200" src="images/RoboticArm.jpg" />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="outer">
                            <div class="image-wrapper">
                                <img width="240" height="200" src="images/JeffRowleyJaws2012.jpg" />
                            </div>
                        </div>
                    </td>
                    <td>
                        <div class="outer">
                            <div class="image-wrapper">
                                <iframe width="240" height="200" src="http://www.youtube.com/embed/QmWD76jwjbQ" 
                                    frameborder="0"></iframe>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </div>