<!--
    file:   templates/head.html
    author: Marshall Farrier
    date:   08/23/2012
    description:
            generic header for codeMelon2012 website
            this revision is designed to demo a lot of jQuery possibilities
    links:
        http://www.google.com/webfonts/
-->
<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to codeMelon!</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:700|Play' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="http://fast.fonts.com/jsapi/cc5fae93-f1d0-40cc-acc7-c301ef9330aa.js"></script>
        <!-- styles -->
        <link href="styles/common/html5-doctor-reset-stylesheet.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/root.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/logo.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/logo-banner-image.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/navigation.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/header.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/content.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/content-sidebar.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/main-content.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/lower-background.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/footer.css" rel="stylesheet" type="text/css" />
        <link href="styles/content/home.css" rel="stylesheet" type="text/css" />
        <!-- JavaScript -->
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <script type="text/javascript" src="scripts/common/navigation.js"></script>
        <script type="text/javascript" src="scripts/common/logo.js"></script>
        <?php common\includeSidebarCss($page); ?>
        <script type="text/javascript" src="scripts/common/lower-background.js"></script>
        <script type="text/javascript" src="scripts/common/main.js"></script>
        <script type="text/javascript" src=<?php common\javaScriptFile($page); ?>></script>
    </head>
    <body>
