<!DOCTYPE html>
<html>
<!--
file:   templates/head.html
author: Marshall Farrier
date:   08/23/2012
description:
        generic header for codeMelon2012 website
        this revision is designed to demo a lot of jQuery possibilities
links:
    http://www.google.com/webfonts/
-->
    <head>
        <?php content_title($page); ?>
        <META http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <META http-equiv="Content-Style-Type" content="text/css">
        <META name="author" content="Marshall Farrier">
        <META name="description" content="codeMelon: technology blog with news, tutorials 
              and source code">
        <!-- fonts -->
        <link href='http://fonts.googleapis.com/css?family=Ubuntu:700|Cantata+One' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="http://fast.fonts.com/jsapi/cc5fae93-f1d0-40cc-acc7-c301ef9330aa.js"></script>
        <!-- styles -->
        <link href="styles/common/html5-doctor-reset-stylesheet.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/root.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/logo.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/logo-banner-image.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/navigation.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/header.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/content.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/content-sidebar.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/main-content.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/lower-background.css" rel="stylesheet" type="text/css" />
        <link href="styles/common/footer.css" rel="stylesheet" type="text/css" />
        <?php content_styling($page); ?>
        <?php content_article_style($article); ?>
        <!-- Feeds -->
        <link rel="alternate" type="application/atom+xml" title="codeMelon ATOM (sitewide)" href="feed.xml" />
        <link rel="alternate" type="application/atom+xml" title="codeMelon ATOM (Android)" href="feed_android.xml" />
        <!-- JavaScript -->
        <?php common_setAnimation($animate); ?>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.0/jquery.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.23/jquery-ui.min.js"></script>
        <script type="text/javascript" src="scripts/common/navigation.js"></script>
        <script type="text/javascript" src="scripts/common/logo.js"></script>
        <?php common_includeSidebarCss($page); ?>
        <script type="text/javascript" src="scripts/common/lower-background.js"></script>
        <script type="text/javascript" src="scripts/common/main.js"></script>
        <script type="text/javascript" src=<?php common_javaScriptFile($page); ?>></script>
        <!-- Place immediately before closing </head> tag for Google Analytics -->
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-18817737-2']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
    </head>
    <body>
