<!--
    file:   templates/header.html
    author: Marshall Farrier
    date:   08/31/2012
    description:
            header for codemelon2012
            placement between navigation and content
-->
<div id="header">
    <div class="outer-width-limiter">
        <table>
            <tr>
                <td>
                    <div class="outer">
                        <div class="image-wrapper">
                            <img width="240" height="200" src="images/RoboticArm.jpg" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="outer">
                        <div class="image-wrapper">
                            <img width="240" height="200" src="images/JeffRowleyJaws2012.jpg" />
                        </div>
                    </div>
                </td>
                <td>
                    <div class="outer">
                        <div class="image-wrapper">
                            <iframe width="240" height="200" src="http://www.youtube.com/embed/QmWD76jwjbQ" 
                                frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>
                </td>
            </tr>
        </table>
    </div>   
</div>
<div class="outer-width-limiter">
    <div id="content">  