<!--
    file:   templates/logo.html
    author: Marshall Farrier
    date:   08/24/2012
    description:
            logo for codemelon2012
-->
<div id="logo">
    <div class="outer-width-limiter">
        <div class="wrapper">
            <div class="melon">
                <img src="images/melon384.png" width="96" height="96" />
            </div>
            <div class="slice">
                <img src="images/melonslice384.png" width="96" height="48" />
            </div>
            <div class="logo-text">
                <h1>code</h1><h1>Melon</h1>
            </div>
        </div>
    </div>
</div>