<!--
@file templates/logo.html
@author Marshall Farrier
@created 08/24/2012
@edited 10/12/2012
@description logo for codemelon2012
@other Current logo version uses as shadow color #2f2f2f on Pixelmator
    with smooth=10%, feather=25% (35% might be worth trying)
-->
<div id="logo">
    <div class="outer-width-limiter">
        <div class="wrapper">
            <div class="melon">
                <img src="https://s3.amazonaws.com/codemelon/images/melon20121011.png" width="120" height="120" />
            </div>
            <div class="slice">
                <img src="https://s3.amazonaws.com/codemelon/images/melonslice20121011.png" width="120" height="72" />
            </div>
            <div class="logo-text">
                <h1>code</h1><h1>Melon</h1>
            </div>
        </div>
        <?php common_includeBannerImage($page); ?>
    </div>
</div>
