<!--
    file:   templates/navigation.html
    author: Marshall Farrier
    date:   08/26/2012
    description:
            navigation for codemelon2012
-->
<div id="navigation">
    <div class="outer-width-limiter">
        <table>
            <tr>
                <td><a href=<?php navigation\home($page); ?>>HOME</a></td>
                <td><a href=<?php navigation\forum($page); ?>>FORUM</a></td>
                <td><a href=<?php navigation\downloads($page); ?>>DOWNLOADS</a></td>
                <td><a href=<?php navigation\links($page); ?>>LINKS</a></td>
                <td><a href=<?php navigation\about($page); ?>>ABOUT</a></td>
            </tr>
        </table>
    </div>
</div>
