<!DOCTYPE html>
<!--
    file:   templates/no-boxmodel.html
    author: Marshall Farrier
    date:   09/09/2012
    description:
            redirect for codemelon2012 when browser doesn't support the boxmodel
-->
<html>
    <head>
        <title>Incompatible browser</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>Browser does not support required features!</h1>
        <p>We apologize for the inconvenience. 
            The page you selected depends on features not supported by your browser.
        </p>
        <p>codeMelon.com is a non-profit site exploring new features in
            CSS3, HTML5 and jQuery. You can view
            its content in recent versions of <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>,
            <a href="http://www.apple.com/safari/">Safari</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.
        </p>
        <p style="color:#f00"><em>If you have been redirected to this page on any of these browsers, please <a 
            href="mailto:info@codemelon.com">email me</a> with the version number of your browser
            and OS so that I can reproduce and fix the issue.</em>
        </p>            
    </body>
</html>
