<!DOCTYPE html>
<!--
    file:   templates/no-boxmodel.html
    author: Marshall Farrier
    date:   09/09/2012
    description:
            redirect for codemelon2012 when browser doesn't support the boxmodel
-->
<html>
    <head>
        <title>No box model support</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
    <body>
        <h1>Browser Version does not Meet W3C Standards!</h1>
        <p>The page you selected renders in accordance with the <a href="http://www.w3schools.com/css/css_boxmodel.asp">W3C
            box model</a>. You have been redirected to this page because your browser does not follow
            this standard and thus will not correctly render the content you selected.
        </p>
        <p>codeMelon.com is a non-profit site. Here is where I can experiment with new features in
            CSS3, HTML5 and jQuery and share what I have learned. I apologize if your browser isn't 
            supported but am more concerned about experimentation than backward compatibility. You can view
            codeMelon.com content in any recent version of <a href="https://www.google.com/intl/en/chrome/browser/">Chrome</a>,
            <a href="http://www.apple.com/safari/">Safari</a> or <a href="http://www.mozilla.org/en-US/firefox/new/">Firefox</a>.
        </p>
        <p style="color:#f00"><em>If you have been redirected to this page on any of these browsers, please <a 
            href="mailto:info@codemelon.com">email me</a> with the version number of your browser
            and OS so that I can reproduce and fix the issue.</em>
        </p>            
    </body>
</html>
