/* 
    Site:   codemelon2012
    Document   : logo
    Created on : Aug 26, 2012
    Author     : marshallfarrier
    Description:
        content styling for codemelon2012
*/
#content {
    position:relative;
    z-index:0;
    background-color:#fff;
    color:#000;
    border: 1px solid #7f7f7f;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #7f7f7f;
    font-size: 14px;
    padding:1.5em 3em;
}
#content h1 {
    font-size:36px;
}
#content h2 {
    font-size:24px;
}
#content h3 {
    font-size:18px;
}
#content h4 {
    font-size:16px;
}
#content h1,h2,h3,h4 {
    margin-top:0.5em;
}
#content h1,h2,h3 {
    font-weight: 800;
}
#content h1,h2 {
    font-family:'Ubuntu', sans-serif;
    color:#1f1f1f;
}
#content h3,h4 {
    font-family:'FrutigerNeueW01-Regular',Helvetica,Arial,sans-serif;
}
#content h3 {   
    color: #185ae2;
}
#content p,a,li {
    font-family:'Frutiger Neue W01 Book',Helvetica,Arial,sans-serif;
    /* Univers is also a good option but requires a paid subscription */
}
#content h1,h2,h3,h4,p {
    line-height:1.5em;
    margin-bottom:0.5em;
}