/* 
    File: styles/header.css
    Created: 8/28/2012
    Author: Marshall Farrier
    Description:
        header styles for codemelon2012
*/
#header {
    position:relative;
    min-height: 208px;
}
#header table {
    width:100%;
}
#header td {
    width:33%;
}

#header td div.outer {
    position:relative;
}
#header td .image-wrapper {
    position:absolute;
    left:50%;
    margin-left:-120px;z-index:1;
    background-color:#fff;
    width:240px;
    height:200px;
    padding:5px;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 0 0 3px #0f0f0f;
}