/* 
    Site:   codemelon2012
    Document   : logo
    Created on : Aug 24, 2012, 7:35:18 PM
    Author     : marshallfarrier
    Description:
        logo styling for codemelon2012
    Colors:
        brown melon skin: #D8B87D
        green melon rind: #56732a
        main unshaded melon orange: #f6911b
*/
#logo {
    position:absolute;
    width:100%;
    top:16px;
}
#logo .outer-width-limiter {
    position:relative;
}
#logo .wrapper {
    position:inherit;
    margin-left: 10%;
    height:128px;
    width:336px;
}
#logo div.melon {
    position:absolute;
    z-index:3;
}
#logo div.slice {
    position:absolute;
    z-index:4;
}
#logo div.logo-text {
    position:absolute;
}
#logo h1 {
    position:relative;
    display:inline;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    z-index:5;
}
#logo div.logo-text h1:first-child {
    color:#a2d04c;
}
#logo div.logo-text h1:nth-child(2) {
    color:#f6911b;    
}

#logo div.banner-image {
    word-wrap:break-word;
    overflow:hidden;
    margin-left:512px;
    margin-top:-96px;
    padding:5px 0px 0px 5px;
    font-family:'Play', sans-serif;
    font-size:12px;
    height:72px;
    /* this should look like the monitor in the Matrix */
    border-color:#afafaf;
    background-color:#3f3f3f;
    color:#1A9D26;
    box-shadow: 0 0 6px #1A9D26;
    border-color:#1A9D26;
    border-style:solid;
    border-top-width:1px;
    border-bottom-width:1px;
    border-right-width:1px;
    border-left-width:1px;
    border-radius:1px;
}

#logo div.banner-image p {
    line-height:1.5;
    letter-spacing:3px;
    transform:rotate(270deg);
}