/* 
    Site:   codemelon2012
    Document   : styles/logo.css
    Created on : Aug 24, 2012, 7:35:18 PM
    Author     : marshallfarrier
    Description:
        logo styling for codemelon2012
    Colors:
        brown melon skin: #D8B87D
        green melon rind: #56732a
        main unshaded melon orange: #f6911b
*/
#logo {
    position:absolute;
    width:100%;
    top:16px;
}
#logo .outer-width-limiter {
    position:relative;
}
#logo .wrapper {
    position:inherit;
    margin-left: 10%;
    height:128px;
    width:336px;
}
#logo div.melon {
    position:absolute;
    z-index:3;
}
#logo div.slice {
    position:absolute;
    z-index:4;
}
#logo div.logo-text {
    position:absolute;
}
#logo h1 {
    position:relative;
    display:inline;
    font-size: 36px;
    font-family: 'Ubuntu', sans-serif;
    z-index:5;
}
#logo div.logo-text h1:first-child {
    color:#a2d04c;
}
#logo div.logo-text h1:nth-child(2) {
    color:#f6911b;    
}