/* 
    Document   : styles/lower-background.css
    Created on : 9/1/2012
    Author     : Marshall Farrier
    Description:
        lower-background styles for codeMelon2012
*/
#lower-background {
    position:absolute;
    top:512px;
    background-color: #dfdfdf;
    width:100%;
    z-index:-1;
}