/* 
    Site: codemelon2012
    Document: styles/main-content.css
    Date: 9/21/2012
    Author: Marshall Farrier
    Description:
        styling for the main content section
*/

#main-content h1 {
    font-size:36px;
}
#main-content h2 {
    font-size:24px;
}
#main-content h3 {
    font-size:18px;
}
#main-content h4 {
    font-size:16px;
    /*color: #185ae2;*/
    font-size:16px;
}
#main-content h1,h2,h3,h4 {
    margin-top:0.5em;
}
#main-content h1,h2,h3 {
    font-weight: 800;
}
#main-content h1,h2 {
    font-family:'Ubuntu', sans-serif;
    color:#1f1f1f;
}
#main-content h3 {
    font-family:'FrutigerNeueW01-Regular',Helvetica,Arial,sans-serif;
}
#main-content h4, p,a,li {
    font-family:'Frutiger Neue W01 Book',Helvetica,Arial,sans-serif;
    /* Univers is also a good option but requires a paid subscription */
}
#main-content p {
    font-size:12px;
    line-height:2em;
}
#main-content h1,h2,h3,h4 {
    line-height:1.5em;
}
#main-content a {    
    color:#17d;
}
#main-content h4 a {
    text-decoration: none;
}

#main-content div.date {
    font-size:12px;
    font-family:'FrutigerNeueW01-Regular',Helvetica,Arial,sans-serif;
    color:#bbb;
    line-height:1.5em;
    margin-bottom: 0.5em;
}

#main-content section {
    padding-bottom: 16px;
    border-bottom:1px solid #ddd;
}