/* 
    Site: codemelon2012
    Document: styles/main-content.css
    Date: 9/21/2012
    Author: Marshall Farrier
    Description:
        styling for the main content section
*/

#main-content h1 {
    font-size:36px;
}
#main-content h2 {
    font-size:24px;
}
#main-content h3 {
    font-size:18px;
}
#main-content h4 {
    font-size:16px;
}
#main-content h1,h2,h3,h4 {
    margin-top:0.5em;
}
#main-content h1,h2,h3 {
    font-weight: 800;
}
#main-content h1,h2 {
    font-family:'Ubuntu', sans-serif;
    color:#1f1f1f;
}
#main-content h3,h4 {
    font-family:'FrutigerNeueW01-Regular',Helvetica,Arial,sans-serif;
}
#main-content h3 {   
    color: #185ae2;
}
#main-content p,a,li {
    font-family:'Frutiger Neue W01 Book',Helvetica,Arial,sans-serif;
    /* Univers is also a good option but requires a paid subscription */
}
#main-content h1,h2,h3,h4,p {
    line-height:1.5em;
    margin-bottom:0.5em;
}