/* 
    Document   : styles/root.css
    Created on : Aug 23, 2012, 12:18:06 PM
    Author     : marshallfarrier
    Description:
        Global styles for codeMelon2012
    Fonts to consider:
        http://www.google.com/webfonts/
            Open Sans (normal 400)
        http://www.fonts.com/
    To reference loaded Frutiger fonts:
        font-family:'Frutiger Neue W01 Bd';
        font-family:'Frutiger Neue W01 Bd It';
        font-family:'Frutiger Neue W01 Book';
        font-family:'FrutigerNeueW01-BookIt';
        font-family:'Frutiger Neue W01 Light';
*/
html {
    background-color: #5f5f5f;
    color: #bfbfbf;
}
.outer-width-limiter {
    width:90%;
    margin:auto; 
    max-width:1232px;
}

